[submodule "third_party/webrtc"]
	path = third_party/webrtc
	url = https://github.com/peeracle/webrtc.git
[submodule "third_party/depot_tools"]
	path = third_party/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/peeracle/googletest.git
[submodule "third_party/curl"]
	path = third_party/curl
	url = https://github.com/peeracle/curl.git
[submodule "third_party/libwebsockets"]
	path = third_party/libwebsockets
	url = https://github.com/peeracle/libwebsockets.git
[submodule "third_party/vlc"]
	path = third_party/vlc
	url = https://github.com/peeracle/vlc.git
