[submodule "third_party/webrtc"]
	path = third_party/webrtc
	url = https://github.com/peeracle/webrtc.git
[submodule "third_party/depot_tools"]
	path = third_party/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "third_party/gyp"]
	path = third_party/gyp
	url = https://chromium.googlesource.com/external/gyp.git
[submodule "testing/gtest"]
	path = testing/gtest
	url = https://chromium.googlesource.com/external/googletest.git
